<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ViagogoTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D1F00171D36577500E2EF2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D1F002B1D36577500E2EF2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DBF1B851D393045004BD057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
